<div class="jumbotron">
  <h1 class="display-4">Bem vindo</h1>
  <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
  <hr class="my-4">
  <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
  </p>
</div>
<hr>
<h2>Postagens recentes:</h2>
{{#each posts}}
{{posts}}
<div class="card">
    <div class="card-body">
        <h3>{{title}}</h3>
        <p>{{description}}</p>
        <a href="/posts/{{slug}}"><button class="btn btn-success">ler mais</button></a>
        <hr>
        <small>{{category}}</small><br>
        <small>Data de publicação: {{date}}</small>
    </div>
</div>
{{else}}
<p> Não há postagens </p>
{{/each}}